<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">      
</head>
<body class="bodyStyle">
  <div class="w3-padding-large fontHome" id="main">
    <header class="w3-container w3-center headerStyle" id="home">
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">My Journey as a Software Engineer</h1>
        <hr class="hrStyle">
        <br>
        <p class="fs-5 text-muted">
          I discovered my passion for web development while creating my first e-commerce website. I quickly realized that designing and developing websites was more fulfilling to me than running a business. Today, as a software engineering graduate, I am dedicated to building inclusive and accessible websites and small applications that can make a difference. To further develop my skills, I take on freelancing jobs on various platforms, both privately and professionally. With my enthusiasm and expertise, I strive to create innovative solutions that meet the needs of clients and users alike.
        </p>
      </div>
    </header>

    <main>
      <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
        <h2 class="w3-text">Who am I</h2>
        <hr class="hrStyle" style="width:280px">

        <div class="imageTextContainer">
          <div class="w3-cell-row">
            <div class="w3-cell w3-mobile">
              <img src="../images/me.jpg" alt="me" style="max-width: 100%; height: auto;">
            </div>
            <div class="w3-cell w3-mobile w3-padding">
              <p>
                As a recent graduate in Software Engineering, my passion for technology ignited at a young age, and I have since been captivated by the transformative power of software in solving complex problems and enhancing people's lives.
              </p>
              <p>
                Throughout my university journey, I acquired proficiency in a range of programming languages, including HTML, CSS, JavaScript, TypeScript, SQL, and C#. Additionally, I have worked with frameworks such as Angular and libraries like React. My college experience also equipped me with knowledge in software design principles, data structures, algorithms, and software development methodologies like Agile and Scrum.
              </p>
              <p>         
                I pride myself on being detail-oriented and highly motivated, with a strong work ethic. I thrive in collaborative environments, where I can contribute to the creation of innovative software solutions. I am always eager to expand my skill set, continuously learn new technologies, and stay abreast of the latest industry trends. I firmly believe that my enthusiasm and knowledge make me an invaluable asset to any software development team.
              </p>
              <p>          
                During my leisure time, I engage in personal programming projects, staying up-to-date with emerging technologies, and exploring new avenues within the field. Thank you for taking the time to visit my portfolio, and I look forward to the possibility of collaborating with you on your next software project.
              </p>
            </div>
          </div>
        </div>

        <h3 class="w3-padding-16 w3-text">My Skills</h3>
        <hr class="hrStyle" style="width:200px">        
        <p class="w3-wide">Front End</p>
        <div style="background-color: snow; border: 2px solid #616161;">
          <div style="background-color: #616161; height:28px;width:95%"></div>
        </div>
        <p class="w3-wide">Back End</p>
        <div style="background-color: snow; border: 2px solid #616161;">
          <div style="background-color: #616161; height:28px;width:85%"></div>
        </div>
        <p class="w3-wide">Database</p>
        <div style="background-color: snow; border: 2px solid #616161;">
          <div style="background-color: #616161; height:28px;width:80%"></div>
        </div>
        <br>
        <hr class="hrStyle">        
        <h1 class="center paddingSpace">GitHub and Resume</h1>
        <hr class="hrStyle">        
        <div class="row paddingSpace">
          <div class="col-12 col-md">
            <p>RR Systems</p>
            <small class="d-block mb-3 text-muted">&copy; 2021–2023</small>
          </div>     
          <div class="col-6 col-md">
            <ul class="list-unstyled text-small"> 
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://github.com/ItalCad91" target="_blank">Github</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <ul class="list-unstyled text-small">            
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="/resume/Resume.pdf" target="_blank">Resume</a></li>
            </ul>
          </div>
        </div>       
      </div>
    </main>
  </div>
</body>

<footer class="text-muted py-5">
  <div class="toTop">
    <p class="float-end">
      <a href="#" class="w3-button text-center w3-black"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    </p>    
  </div>
</footer>

</html>

<style>
  .hrStyle {
    background-color: black;
    height: 2px;
    border-color: gray;
  }

  .toTop {
    display: flex;
    justify-content: center;
  }

  .headerStyle {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 40px;
  }

  .bodyStyle {
    background-color: #F8FAFB;
    text-align: center;
    font-family: Arial, sans-serif;
  }

  .fontHome {
    font-family: Arial, sans-serif;
    color: #333333;
  }

  .link-secondary:hover {
    color: cornflowerblue !important;
  }

  .imageTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .imageTextContainer img {
    width: 280px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .w3-cell-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
  }
  
  .w3-cell {
    width: 100%;
    padding: 0 8px;
  }
  
  @media screen and (min-width: 600px) {
    .w3-cell {
      width: 50%;
    }
  }
</style>
