<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<header class="headerStyle">
  <h1>Welcome to my Portfolio</h1>
</header>
<body class="bodyStyle">
  <main>
    <img src="../images/homepage.png" alt="me" class="w3-image" style="width: 100%; max-width: 400px; height: auto; display: flex; justify-content: center; align-items: center; margin: 10px auto;" width="30%" height="40%">
    <h1>Riccardo Reali</h1>
    <p>Software Developer</p>
  </main>
</body>

<style>
  .headerStyle
  {text-align: center; 
    font-family: Arial, sans-serif;
    padding: 40px;
  }
  .bodyStyle 
  {
    background-color: #F8FAFB;
    text-align: center; 
    font-family: Arial, sans-serif;
  }
</style>
