  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="generator" content="Hugo 0.104.2">
    <title>Album example · Bootstrap v5.2</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/album/">    

<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    
  </head>
  <body>   
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">PROJECTS</h1>
        <p class="lead text-muted"> Check out some of my projects below! Here, you'll find a diverse range of projects showcasing my expertise in web development, frameworks and programming languages. Have fun exploring my work!</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="../images/gif.gif" alt="FirstProjectGIF">
            <div class="card-body">
              <p class="card-text">The project aims to upgrade the stack overflow experience integrating it with a live chat in which users can discuss and exchange informations. It uses React for the frontend and Express for the backend. Although the project is still a work in progress, the front end and back end of authentication are fully functional. </p> <p>Link to the Project GitHub below ⬇️</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://github.com/ItalCad91/Overflow" target="_blank">GitHub</a>
                </div>                               
              </div>
            </div>
          </div>
        </div>        
        <div class="col">
          <div class="card shadow-sm">
            <img src="../images/DemoApp.png" alt="FirstProjectGIF">
            <div class="card-body">
              <p class="card-text">On this small web application you can download a C# WPF Desktop Application, and install it on your machine. This project aims to distribute DBMS Software online, so that users can download it to their machines and install and run it just like the web application, without having to be connected to the internet.</p> <p>Link to the Project and GitHub below ⬇️</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://github.com/ItalCad91/DBMS_DesktopApp" target="_blank">GitHub</a>
                </div>
                <div class="btn-group">
                  <a href="https://dbms-desktopapp-7762e239144f.herokuapp.com/" target="_blank">Website</a>
                </div>                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../images/PlayJS.gif" alt="FirstProjectGIF">
            <div class="card-body">
              <p class="card-text">In this project, I built a platform where users could play retro and new videogames. The games are based only on HTML-CSS and JavaScript, and have been designed for PC use only, and not for mobile devices.</p> <p>Link to the Project and GitHub below ⬇️</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://github.com/ItalCad91/PlayJS" target="_blank">GitHub</a>
                </div>
                <div class="btn-group">
                  <a href="https://playjsgames-5030624d991c.herokuapp.com/" target="_blank">Website</a>
                </div>                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../images/ecommerce.gif" alt="OutdoorProjectGIF">
            <div class="card-body">
              <p class="card-text">Leveraging the robust Node.js framework with HTML, CSS, and JavaScript, I developed this wonderful e-commerce website. The platform provides users with a great shopping experience, and includes secure payment gateways.</p> <p>Link to the Project and GitHub below ⬇️</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://github.com/ItalCad91/Outdoorways" target="_blank">GitHub</a>
                </div>
                <div class="btn-group">
                  <a href="https://outdoorways-a9b4946d3a1f.herokuapp.com/" target="_blank">Website</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../images/DataManagement2.gif" alt="DataManagement1">
            <div class="card-body">
              <p class="card-text">In this project, I built a platform where users can create and manage their own system of data for their business adding, editing and deleting product to a database that is accessible when the user logs in.</p> <p>Link to the Project and GitHub below ⬇️</p>              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://github.com/ItalCad91/Database-Management-System" target="_blank">GitHub </a>
                </div>
                <div class="btn-group">
                  <a href="https://dbmsrrsystems-4a523fd6ab88.herokuapp.com/" target="_blank">Website</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../images/FunFacts.gif" alt="FirstProjectGIF">
            <div class="card-body">
              <p class="card-text">In this project you can view, add, edit or delete fun facts about football. It is an ASP.NET MVC Web App, with authentication CRUD operations, and SQL database. It uses Azure for database and deployment, and it has been developed using C#, Javascript, HTML and CSS.</p> <p>Link to the Project and GitHub below ⬇️</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://github.com/ItalCad91/FootballFanFacts" target="_blank">GitHub</a>
                </div>
                <div class="btn-group">
                  <a href="https://footballfunfacts2023.azurewebsites.net/" target="_blank">Website</a>
                </div>                
              </div>
            </div>
          </div>
        </div>         
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="toTop">
    <p class="float-end">
      <a href="#" class="w3-button text-center w3-black"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    </p>    
  </div>
</footer>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>      
  </body>

  <style>
  .toTop 
  {
    display: flex;
    justify-content: center;
  }


    .bd-placeholder-img 
    {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) 
    {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider 
    {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr 
    {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi 
    {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller 
    {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav 
    {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  </style>