<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav style="background-color:lightslategray" class="size fixed-bottom navbar-expand-lg bg-body-tertiary">
    <div class=" container-fluid">        
        <p1 class="footerText">
          <span class="span" >©️ Copyright RR Systems 2023</span>
        </p1>      
  </div>
  </nav>
</body>
